# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: GH Action Build

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:
   inputs:
    skipbuildjob:
        description: Skip Build Job
        type: boolean
        required: false
        default: false
    skippipelinetrigger:
        description: Skip Pipeline trigger job
        type: boolean
        required: false
        default: false
jobs:
  build:
    uses: ./.github/workflows/common.yml
    secrets: inherit
   
      
  pipeline-trigger:
    if: ${{ github.event.inputs.skippipelinetrigger == 'false' || github.event_name == 'push' }}
    needs: build
    runs-on: ubuntu-latest
    steps:
     - name: Test run 3
       run: echo "run 3"
     - name: Test run 4
       run: exit 64
